In [3]:
import pandas as pd
import os
os.listdir()

['.ipynb_checkpoints',
 'INVOICES.xlsx',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'weights.xlsx',
 '~$INVOICES.xlsx']

In [4]:
dt = pd.read_excel('weights.xlsx')
dt.head(10)

,Weight,OUTLIER,Unnamed: 2,lower bound,median,upper bound,IQR,Ll,Ul
0,16,NORMAL,NaN,47.5,68.0,73.5,26.0,8.5,112.5
1,42,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,53,NORMAL,NaN,,NaN,NaN,NaN,NaN,NaN
3,61,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,69,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,71,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,76,NORMAL,NaN,NaN,NaN,,NaN,NaN,NaN
8,130,OUTLIER,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# calculate the  outlier given the data
LL = 8.5
UL = 112.5
new= []
for i in dt['Weight']:
    if (i<LL)|(i>UL):
        new.append("outlier")
    else:
        new.append('Normal')
dt["John_outlier"] = new
dt.head(10)

,Weight,OUTLIER,Unnamed: 2,lower bound,median,upper bound,IQR,Ll,Ul,John_outlier
0,16,NORMAL,NaN,47.5,68.0,73.5,26.0,8.5,112.5,Normal
1,42,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
2,53,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
3,61,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
4,68,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
5,69,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
6,71,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
7,76,NORMAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Normal
8,130,OUTLIER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,outlier

In [1]:
import plotly_express as px
px.box(dt['Weight'])

NameError: name 'dt' is not defined